@import "../../SharedModule/variables.css";

.belt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: var(--main-color);
    opacity: 0;
    z-index: 2;
    transition: .2s
}

.belt--active {
    padding: 1em 0;
    opacity: 1
}

.belt__icon {
    font-size: 2em;
    font-style: normal;
}

.search__input, .add__input {
    width: 100vw;
    height: 3.5em;
    padding: 0 1em;
    margin-bottom: .5em;
    text-align: center;
}

.date__input {
    width: 50vw;
    height: 3.5em;
    padding: 0 1em;
    margin-right: 2em;
    background-color: #fff;
    color: var(--main-color);
    text-align: center;
}

.search__button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em;
    margin: 0 .25em;
    height: 3.5em;
    width: 3.5em;
    background-color: #fff;
    color: var(--main-color);
    border: none
}

.button__name {
    margin-left: 1em;
    display: none
}

.search__button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.tag {
    padding: .5em .75em;
    background-color: #fff;
    margin: .25em .25em
}

.tag--active {
    font-weight: bold;
    color: var(--main-color)
}

@media only screen and (min-width: 1200px) {

    .belt--active {
        padding-bottom: .5em;
    }

    .search__button {
        position: relative;
        display: flexbox;
        padding: .5em;
        margin: 0 .25em;
        height: 3.5em;
        min-width: 3.5em;
        width: auto;
        background-color: #fff;
        color: var(--main-color);
        border: none
    }

    .button__name {
        display: inline-block
    }

    .add__input {
        width: 33vw;
        margin-right: 2.5em
    }

    .date__input {
        width: 20vw;
    }
}